@import "tailwindcss";

:root {
  --ds-neutral-100: #FCEFE8;
  --ds-neutral-200: #C2C5C2;
  --ds-neutral-500: #49616A;
  --ds-neutral-600: #33444A;
  --ds-neutral-800: #001A24;
  --ds-neutral-900: #00151D;
  --ds-green-200: #D1FF66;
  --ds-yellow-100: #FFE6BA;
  --ds-red-100: #FEC9C3;
  --ds-red-300: #FF8080;
  --ds-cyan-100: #B5E9FC;
  --ds-purple-100: #CCC4FD;
  --ds-blue-100: #BBD8FF;

  --background: var(--ds-neutral-900);
  --foreground: var(--ds-neutral-200);
}

@theme inline {
  --color-background: var(--ds-neutral-900);
  --color-foreground: var(--ds-neutral-200);
  --color-ds-neutral-100: var(--ds-neutral-100);
  --color-ds-neutral-200: var(--ds-neutral-200);
  --color-ds-neutral-500: var(--ds-neutral-500);
  --color-ds-neutral-600: var(--ds-neutral-600);
  --color-ds-neutral-800: var(--ds-neutral-800);
  --color-ds-neutral-900: var(--ds-neutral-900);
  --color-ds-green-200: var(--ds-green-200);
  --color-ds-yellow-100: var(--ds-yellow-100);
  --color-ds-red-100: var(--ds-red-100);
  --color-ds-red-300: var(--ds-red-300);
  --color-ds-cyan-100: var(--ds-cyan-100);
  --color-ds-purple-100: var(--ds-purple-100);
  --color-ds-blue-100: var(--ds-blue-100);

  --radius-0: 0;
  --radius-4: 0.25rem;
  --radius-6: 0.425rem;
  --radius-8: 0.5rem;
  --radius-10: 0.625rem;
  --radius-12: 0.75rem;
  --radius-16: 1rem;
  --radius-20: 1.25rem;
  --radius-24: 1.5rem;

  --font-sans: var(--font-chakra-petch);
  --font-mono: var(--font-jetbrains-mono);
}

@utility text-preset-1 {
  @apply text-[2.375rem] font-bold tracking-[-2px] leading-[100%] md:text-[5rem];
}

@utility text-preset-2 {
  @apply text-[1.5rem] font-bold leading-[110%] md:text-[1.75rem] lg:text-[2rem] lg:leading-[120%];
}

@utility text-preset-3 {
  @apply text-[1.5rem] font-bold leading-[130%];
}

@utility text-preset-4 {
  @apply text-[1.25rem] font-bold leading-[140%];
}

@utility text-preset-5 {
  @apply font-mono uppercase text-[1rem] leading-[140%] font-normal;
}

@utility text-preset-5-bold {
  @apply font-mono uppercase text-[1rem] leading-[140%] font-bold;
}

@utility text-preset-6 {
  @apply font-mono text-[0.875rem] leading-[140%] font-normal;
}

@utility text-preset-6-medium {
  @apply font-mono uppercase text-[0.875rem] leading-[140%] font-medium;
}

@utility text-preset-6-extra-bold {
  @apply font-mono text-[0.875rem] leading-[140%] font-extrabold;
}

@utility text-preset-7 {
  @apply font-mono uppercase text-[0.75rem] leading-[140%] tracking-[0.5px];
}

body {
  background: var(--background);
  color: var(--foreground);
}